version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.4-alpine
    container_name: nexus_db_infra
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=nexus_ai
    volumes:
      - postgres_data_local:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: nexus_redis_infra
    volumes:
      - redis_data_local:/data
    ports:
      - "6379:6379"

volumes:
  postgres_data_local:
  redis_data_local:
